*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: #f2f2f2;
}

.container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;

}
/* Small */
@media (min-width:767px){
    .container{
        width: 750px;
      
    }
}
@media (min-width:992px){
    .container{
        width: 950px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* Start  Header */
.header{
    padding: 20px;
    
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    position: relative;
   
}
@media (max-width:766px)
 { .header .container{
    margin: 0;
    width: 120%;
 }
 .landing{
    width: 125%;
 }
 .landing .intro-text{
    margin-top: 190px;
    margin-left: -180px;
 }

}

.header .links{
    position: relative;
    margin-top: -50px;
}

.header .links .menu {
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .menu span{
    margin-bottom: 5px;
    background-color: #333;
    height: 2px;
}
.header .links .menu span:first-child{
  
    width: 100%;
}
.header .links .menu span:nth-child(2){

    width: 60%;
    transition: 0.3s;
}
.header .links .menu span:last-child{
    width: 100%;
    
}
.header .links:hover span:nth-child(2){
    width: 100%;
}

.header .links ul{
    list-style: none;
    min-width: 200px;
    top: calc(100% + 15px);
    right: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #f6f6f6;
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
  }
  .header .links:hover ul{
    display: block;
    }
    
.header .links ul li{
    padding-left:15px ;
    
    
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
  
  }
    
.header .links ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}


.header .links ul  li a:hover{
    padding-left:25px ;
}

/* end  Header */
/* start  landing */
.landing {
    background-image: url(../images/f-22-8009103_1280.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;

  }
  .landing .intro-text {
    position: absolute;
    left: 66%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 40%;
    max-width: 100%;
    }.landing .intro-text h1 {
      margin: 0;
      font-weight: bold;
      font-size: 50px;
      color: var(--main-color);
    }
    .landing .intro-text h2{
        width: 420px;
    }
    .landing .intro-text p {
      font-size: 19px;
      line-height: 1.8;
    }

    /* End Landing  */
    /* Start  features */
    .features{
        padding-top: 60px;
        padding-bottom: 60px; 
        background-color: #f2f2f2;
     
      }
      .features .container{
        display: flex;
        justify-content: space-around;
        justify-items: center;
        flex-wrap: wrap;
        position: relative;
      }
      .features .feat{
       
        border: 2px solid #eee;
        border-radius: 30px;
        width: 230px;
        height: 225px;
        z-index: 8;
        position: relative;
        background-color: white;
        margin-top: -30px;
        margin-right: -80px;
    
      }
      .features .feat i{
        padding-left: 36%;
        padding-top: 20%;
        margin-top: 0px;
        font-size: 40px;
        color: #ff5722;
      }

      .features .feat h3{
        text-align: center;
        padding-top:0;
      }
      .features .feat p{
        text-align: center;
      }
      .features .feat p a{
        padding-left: 13px;
      }
      .features .container::before{
        content: "";
        background-color: #ff5722;
        position: absolute;
        width:125%;
        height: 115px;
        margin-top: -60px;
    
      }

      .block{
        display: flex;
        align-items: center;
      }
      .block .article{
        width: 40%; 
      }
      .block  .article .container{
        width: 600px !important;
      }
      .article .words h4,
      .article .words p{
        width: 160%;
      }
    /* End  features */

    /* Start  article */
     .article .words{
        width: 40%;

    }
    .article .icon {
        
        font-size: 354%;
       
        }
    .article .icon a{

        text-decoration: none;  
    
        color:black ;
    }
    /* End article */
    /* Start  article */
    .aside .container{
        width: 300px !important;
    }
    /* End  article */

   .block .aside{
        padding-top: 60px;
        padding-bottom: 60px; 
        position: relative;
     }
     .aside .inputs{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 301px;
   
    
    }
    
    .aside .inputs div{
        margin-bottom: 25px;
    }
    .aside .inputs input{
        height: 40px;
        outline: none;
        border-bottom: 3px solid black;
        width: 400px;

    }
    .aside .inputs .Message input{
        width: 400px;
        height: 100px;
    }

    .aside  .submit input{
        width: 400px;
        height: 40px;
        font-weight: bold;
        border:3px solid #ff5722;
        border-radius: 30px;
        color: white;
        background-color: #ff5722;
        transition: 0.3s;
       
     
      }
      .aside .submit input:hover{
        background-color: black;
        border:3px solid black;
       }
         





    

  @media (max-width:765px){
    .features{
        padding-top: 0;
    }
    .features .container::before{
        margin-top: 0px;
        width: 196%;
    }
    .features .feat{
        margin-right: -10%;
        margin-bottom: 25px;
        margin-top: 10px;
        margin-left: 34%;

    }
    .landing{
        width: 139%;
    }
    .landing .intro-text h2{
        width: 385px;
    }
    .footer .cont .footerp{
        width: 400px;
    }
    .footer{
        margin-top: -65px;
        margin-left: 0;
        margin-right: 0;
    
    }
    .footer .container{
        margin-left: 0;
        width: 140% !important;
        height: 170px !important;
    }
    .block .article {
        width: 40%;
        margin-top: -401px;
    }
    .block .article .words h4, .article .words p {
        width: 239%;
    }

    .block.aside .inputs .name, 
    .block.aside .inputs .Email, 
    .block.aside .inputs .Message, 
    .block.aside .inputs .sumbit {
        margin-bottom: 0px !important;
    }
    .aside .inputs input{
        width: 222%;
    }
    .aside .inputs .Message  input{
        width: 607px;
    }
    .aside .sumbit{
        width: 271px;
    }
    .block .aside {
        margin-top: 250px;
        margin-left: -193px;
    }

  }
     /* End  aside */
/* Start  footer */
.footer{
    padding-top: 0;
    padding-bottom: 0px;

}
.footer .container{
    background-color: #333333;
    width: 100%;
    height: 150px;
    position: relative;
    margin-left: 0;
}
.footer .cont{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.footer .cont h3{
    color: white;
    margin-top: -15px;
}
.footer .cont p{
    color: white;
}
.footer .cont p a{
    color: #ff5722;
}
/* End footer */